



.logo {
  height: 30px;
  margin-right: 20px;
}

 .sidebar-heading {
  text-align: center;
 }

 body {
  padding-top: 2rem;
  background: #e0e0e0;
  font-family: "Lato";
  font-size: 0.9em;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat"
}
.h2, h2 {
  font-weight: 600;
}

.h5, h5 {
    font-size: 1.15rem;
}

i {
  color: #ced4da;
}

main {  
  background: white;
  box-shadow: #616161 0px 0px 3px;
  height: 100%;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ec670e;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-align: left;
}

a {
    color: #ec670e;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #d25908;
    text-decoration: underline;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #28a2b7;
    border-color: #28a2b7;
}

.form-group {
  margin-bottom: 1.5em;
}